- hosts: k8s_masters
  become: yes
  tasks:
  - name: Get join command
    shell: kubeadm token create --print-join-command
    register: join_command_raw

  - name: Set join command
    set_fact:
      join_command: "{{ join_command_raw.stdout_lines[0] }}"

- hosts: k8s_workers
  become: yes
  tasks:
  - name: Get master node IP
    set_fact:
      master_ip: "{{ hostvars[groups['k8s_masters'][0]]['ansible_host'] }}"

  - name: Wait for the master API server to be reachable
    wait_for:
      host: "{{ master_ip }}"
      port: 6443
      timeout: 300

  - name: Check if already joined to cluster
    stat:
      path: /etc/kubernetes/kubelet.conf
    register: kubelet_conf

  - name: Reset kubeadm if worker needs to rejoin
    shell: kubeadm reset -f
    when: not kubelet_conf.stat.exists

  - name: Remove old join log
    file:
      path: /root/join_cluster.log
      state: absent
    when: not kubelet_conf.stat.exists

  - name: Join cluster
    shell: "{{ hostvars[groups['k8s_masters'][0]].join_command }} >> /root/join_cluster.log"
    args:
      chdir: /root
    when: not kubelet_conf.stat.exists
